* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 420px;
  background-color: #999;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
nav .menu a,
.foot .menu a {
  font-size: 1.5rem;
  margin-left: 20px;
  color: #000;
}

.header nav img {
  width: 80px;
}

.row .hilight {
  display: flex;
  justify-content: space-between;
}

.row .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
  gap: 20px;
}

.row .tweet {
  height: 70px;
  background-color: #999;
  padding: 10px;
  margin: 10;
}

footer {
  width: 100%;
  height: 70px;
  margin-top: 20px;
  background-color: #666;
  display: flex;
  align-items: center;
}
footer .foot {
  display: flex;
  justify-content: space-between;
}
